<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/breadcumb.css">
    <link rel="stylesheet" href="/css/checkout-order.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="main">
            <div class="main-container">
                <div class="main-header">
                    <img class="header-img" src="/images/successful.png" alt="">
                    <h2 class="header-title">Đặt hàng thành công</h2>
                    <span class="order-number">Mã đơn hàng <span class="order-code">#<%= orderInfo.orderCode %></span></span>
                    <br>
                    <span class="header-description"><i>Cám ơn bạn đã mua hàng!</i></span>
                </div>
                <div class="main-content">
                    <form action="">
                        <h2>Thông tin đơn hàng</h2>
                        <div class="content-box">
                            <div class="section-content">
                                <!-- <h3 class="section-content-title">Thông tin giao hàng</h3> -->
                               
                                <h4 class="section-content-title">Tên</h4>
                                <span class="content-info content-name">
                                    <%= orderInfo.username %>
                                </span>
                                
                                <br>

                                <h4 class="section-content-title">Địa Chỉ</h4>
                                <span class="content-info content-address">
                                    <%= orderInfo.address.detail %>,
                                    <%= orderInfo.address.ward %>,
                                    <%= orderInfo.address.district %>,
                                    <%= orderInfo.address.province %>
                                </span>

                                <br>

                                <h4 class="section-content-title">Số điện thoại</h4>
                                <span class="content-info content-phonenum">
                                    <%= orderInfo.phonenumber %>
                                </span>

                                <br>
                                
                                <h4 class="section-content-title">Phương thức thanh toán</h4>
                                <p>
                                    Chuyển khoản ngân hàng
                                </p>

                            </div>
                        </div>

                        <div class="main-content-footer">
                            <span>
                                <i class="fa-solid fa-circle-question"></i>
                                Cần hỗ trợ?
                                <a href="" id="btn-shoppingCart">Liên hệ chúng tôi</a>
                            </span>
                            <a href="/san-pham" id="btn-payment" type="button">
                                Tiếp tục mua hàng
                            </a>
                        </div>
                    </form>
                </div>
                <div class="main-footer">
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="">Chăm sóc khách hàng</a>
                        </li>
                        <li class="menu-item">
                            <a href="">Chế độ bảo hành</a>
                        </li>
                        <li class="menu-item">
                            <a href="">Thanh toán</a>
                        </li>
                        <li class="menu-item">
                            <a href="">Chính sách đổi hàng</a>
                        </li>
                        <li class="menu-item">
                            <a href="">Hướng dẫn mua hàng</a>
                        </li>
                        <li class="menu-item">
                            <a href="">Bảo mật thông tin</a>
                        </li>
                        <li class="menu-item">
                            <a href="">Chính sách giao nhận</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <h2>Thong Tin Don Hang</h2>
            <div class="product-list">
                <table class="product-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let product of products.cartProducts){ %>
                            <tr class="product" data-product-id="1419">
                                <td class="product-image">
                                    <a href="" target="_blank">
                                        <div class="product-thumbnail">
                                            <div class="product-thumbnail-wrapper">
                                                <img class="product-thumbnail-image" alt="<%= product.productName %>"
                                                    src="<%= product.thumbnail %>">
                                            </div>
                                            <span class="product-thumbnail-quantity" aria-hidden="true">
                                                <%= product.quantity %>
                                            </span>
                                        </div>
                                    </a>
                                </td>
                                <td class="product-description">
                                    <a href="adidas-qtflex-da9449.html" target="_blank"><span
                                            class="product-description-name order-summary-emphasis">
                                            <%= product.productName %>
                                        </span></a>
                                    <% if(product.size) {%>
                                        <div class="attribute_pro"><span class="badge-size">Size Giày: <b>
                                                    <%= product.size %>
                                                </b></span></div>
                                        <% } %>
                                </td>
                                <td class="product-quantity visually-hidden">
                                    <%= product.quantity %>
                                </td>
                                <td class="product-price">
                                    <span class="order-summary-emphasis">
                                        <%= formatMoney(product.totalPrice) %>
                                    </span>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <div class="total-section">
                <div class="total-line total-line-subtotal">
                    <span class="total-line-name">Tạm tính</span>
                    <span class="total-line-price">
                        <%= formatMoney(products.totalBill) %>
                    </span>
                </div>
                <div class="total-line total-line-shipping">
                    <span class="total-line-name">Phí vận chuyển</span>
                    <span class="total-line-price">Chưa bao gồm</span>
                </div>
                <div class="total-line total-line-footer">
                    <span class="total-line-name">Tổng cộng</span>
                    <span class="payment-due-price">
                        <%= formatMoney(products.totalBill,"VND") %>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Script -->
    <script src="https://kit.fontawesome.com/4f9b2b93ff.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
    <script>
        $(document).ready(function () {

        })
    </script>

</body>

</html>